:root {
    /* BODY COLORS */
    --body-bg:  hsl(218, 23%, 16%);
    --grayish-blue: hsl(217, 19%, 38%);
    --advice-bg: hsl(217, 19%, 24%);

    /* TEXT COLORS */
    --content-color: hsl(193, 38%, 86%);
    --id-color: hsl(150, 100%, 66%);

    /* DICE */
    --dice-dimension: 3.5rem;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.hidden {
    display: none;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show {
    display: block;
}

.pb {
    padding-bottom: 1rem;
}

/* BODY */

body {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    background-color: var(--body-bg);
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

#advice {
    width: 90vw;
    background-color: var(--advice-bg);
    text-align: center;
    border-radius: 15px;
    position: relative;
    transform: translateY(-2vh);
}

#first-message {
    color: var(--content-color);
    text-transform: uppercase;
}

#advice-id-container {
    color: var(--id-color);
    text-transform: uppercase;
}

#advice-content-container {
    color: var(--content-color);
    font-weight: 500;
}

#divider-mobile {
    margin: .5rem 0 1rem;
    display: none;
}

#divider-desktop {
    margin: 2rem 0 1.5rem;
    display: none;
}


#dice {
    position: absolute;
    width: var(--dice-dimension);
    height: var(--dice-dimension);
    border-radius: 50%;
    border: none;
    background-color: var(--id-color);
    bottom: 0;
    transform: translateY(50%);
    transition: .7s;
}

#dice:hover {
    box-shadow: 0px 0px 30px 0px var(--id-color);
    transition: .7s;
}

#dice i {
    font-size: 28px;
    color: var(--body-bg);
}

#dice:hover i {
    transform: rotate(270deg);
    transition: .7s;
}

.attribution {
    position: absolute;
    bottom: 1.5rem;
    color: var(--content-color);
    font-size: .8rem;
}

.attribution a {
    color: var(--id-color);
}

/* MEDIA QUERY */

/* MOBILE */
@media screen and (max-width: 375px) {

    #first-message {
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }

    #advice {
        padding: 2.5rem 1rem;

    }

    #advice-id-container {
        font-size: .7rem;
        font-weight: 500;
        letter-spacing: .3rem;
        margin-bottom: 1.2rem;
    }

    #advice-content-container {
        font-size: 1.5rem;
        font-weight: 500;
    }

    #divider-mobile {
        display: block;
    }
}

/* MIDDLE */
@media screen and (min-width: 376px) and (max-width: 1439px) {

    #first-message {
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }

    #advice {
        width: 60vw;
        padding: 3rem 1.5rem;
    }

    #advice-id-container {
        font-size: .8rem;
        font-weight: 500;
        letter-spacing: .35rem;
        margin-bottom: 1.2rem;
    }

    #advice-content-container {
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 0;
    }

    #divider-mobile {
        display: none;
    }

    #divider-desktop {
        display: block;
    }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {

    #first-message {
        font-size: 1.4rem;
        letter-spacing: .4rem;
    }

    #advice {
        width: 40vw;
        padding: 3rem 1.5rem;
    }

    #advice-id-container {
        font-size: .8rem;
        font-weight: 500;
        letter-spacing: .35rem;
        margin-bottom: 1.2rem;
    }

    #advice-content-container {
        font-size: 28px;
        font-weight: 500;
        padding-bottom: 0;
    }

    #divider-mobile {
        display: none;
    }

    #divider-desktop {
        display: block;

    }
}