:root {
    /* BODY COLORS */
    --body-bg:  hsl(218, 23%, 16%);
    --grayish-blue: hsl(217, 19%, 38%);
    --advice-bg: hsl(217, 19%, 24%);

    /* TEXT COLORS */
    --content-color: hsl(193, 38%, 86%);
    --id-color: hsl(150, 100%, 66%);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.hidden {
    display: none;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show {
    display: block;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    background-color: var(--body-bg);
    height: 100vh;
}

#advice {
    width: 40vw;
    max-width: 1440px;
    background-color: var(--advice-bg);
    text-align: center;
    padding: 3rem;
    border-radius: 15px;
}

#advice-id-container {
    color: var(--id-color);
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#advice-content-container {
    color: var(--content-color);
    font-weight: 500;
}